<!-- The content in this file is inserted into the base.html file -->
<footer>
    <div class="inner-wrapper">
        <h2>{{footertitle}}</h2>
        <div class="socials">
            <ul>
                <li><i class="fa-brands fa-facebook"></i> {{soical1}}</li>
                <li><i class="fa-brands fa-instagram-square"></i> {{soical2}}</li>
                <li><i class="fa-brands fa-youtube"></i> {{soical3}}</li>
                <li><i class="fa-brands fa-vimeo-square"></i> {{soical4}}</li>
                <li><i class="fa-brands fa-tiktok"></i> {{soical5}}</li>
            </ul>
        </div>
    </div>
</footer>