body {
    font-size: 16px;
    background-color: #f8f8f8;
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: sans-serif;
}

h1 {
    font-size: 2em;
    /* shorthand for TOP RIGHT BOTTOM LEFT */
    /* margin: 1em 0 1.5em 0; */
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}

.inner-wrapper {
    width: 90%;
    margin: 0 auto;
}
.inner-wrapper h2 {
    text-align: center;
    padding: 20px;
    font-size: 50px;
    color: #ffffff;
}

header {
    background-image: linear-gradient(rgba(8, 8, 8, 0.2), rgb(0, 0, 0)), url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 4em 0;
}
footer {
    background-color: #000000;
    padding: 2em 0;
}

.socials li {
    text-align: center;
    padding: 3px;
    font-size: medium;
    color: #ffffff;
}
.hero {
    text-align: center;
    background-image: linear-gradient(rgba(8, 8, 8, 0.2), rgb(0, 0, 0)), url(../images/heroimg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 50vh;
    padding: 2em;
    margin: 1em 0;
    /* vertically align */
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    margin-bottom: 2em;
}

.video-text-image-row {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.videohero iframe {
    width: 500px;
    height: 350px;
    border: 0px;
}
.column-aboutpic img {
    width: 50%;
}

.text-image-row {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
/*-------Media responsive-------*/
@media(max-width: 700px) {
    .video-text-image-row {
        flex-direction: column;
    }
    .videohero iframe {
        width: 100%;
    }
}