---
layout: base
---
<div class="hero">
    <h2>{{title}}</h2>
</div>

<!-------Section 1------->
<div class="borderbox">
<div class="text-image-row">
    <div class="column">
        <p>{{aboutmesection}}</p>
    </div>
    <div class="column-aboutpic"> 
        <img src="/assets/images/aboutuspic2.jpg" alt="Jakecar">
    </div>
</div>
</div>
<!----------Section 2------->
<div class="borderbox">
<div class="main-content2">
    <h2>{{aboutme}}</h2>
    <div class="image-image-image-row">
        <div class="column2">
            <img src="/assets/images/img1.jpg" alt="skyline">
        </div>
        <div class="column2">
            <img src="/assets/images/img2.jpg" alt="toyota">
        </div>
        <div class="column2"> 
            <img src="/assets/images/img3.jpg" alt="toyotaspeedtour">
        </div>
    </div>
</div>
</div>
<!----------Section 3------->
<div class="borderbox">
<div class="legnum-text">
    <h2>{{youtubeclip}}</h2>
    <p>{{videotext}}</p>
<div class="video-text-image-row">
    <div class="column">
        <div class="videohero">
            <iframe src="https://www.youtube.com/embed/0O1k18xkVxc" title="Legnumn video production"></iframe>
        </div>
    </div>
    <div class="column-legnum">
        <img src="/assets/images/epicshot.jpg" alt="Legnumnphotograh">
    </div>
</div>
</div>
</div>

<!----------Section 4------->
<div class="borderbox">
<div class="artwork">
    <h2>{{motorrace}}</h2>
    <p>{{motorraceabout}}</p>
    <div class="artworkpicsrow">
        <div class="column">
            <img src="/assets/images/artworkpic1.jpg" alt="carrace1">
        </div>
        <div class="column">
            <img src="/assets/images/artworkpic2.jpg" alt="carrace2">
        </div>
        <div class="column">
            <img src="/assets/images/artworkpic3.jpg" alt="carrace3">
        </div>
        <div class="column">
            <img src="/assets/images/artworkpic4.jpg" alt="carerace4">
        </div>
    </div>
</div>
</div>

<!----------Section 5------->
<div class="borderbox">
<div class= "expressionsession">
    <h2>{{sessionsinfo}}</h2>
    <p>{{sessionsinfodate}}</p>
<div class="expressionsessionrow">

    <div class="column3"> 
        <img src="assets\images\expressionsession1.jpg" alt="driftcar1">
    </div>
    <div class="column3"> 
        <img src="assets\images\expressionsession2.jpg" alt="driftcar2">
    </div>
    <div class="column3"> 
        <img src="assets\images\expressionsession3.jpg" alt="driftcar3">
    </div>
</div>
</div>
</div>

<!----------Section 6------->
<div class="borderbox">
<div class="contact-shop-row">
    <div class="column5">
        <h3>{{contact}}</h3>
        <ul>
            <li>{{phone}}</li>
            <li>{{email}}</li>
        </ul>
        <button type="button">{{linktree}}</button>
        <img src="/assets/images/aboutus.jpg" alt="profilephotojake">
    </div>
    <div class="column5">
        <h3>{{shop}}</h3>
        <button type="button">{{shopitems}}</button>
        <img src="/assets/images/icon.png" alt="stickerexample">
        <p>{{sticker}}</p>
    </div>
</div>
</div>

<div class="main-content">
    {{ content }}
</div>