
body {
    font-size: 16px;
    background-color: #f8f8f8;
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: sans-serif;
}

h1 {
    font-size: 2em;
    /* shorthand for TOP RIGHT BOTTOM LEFT */
    /* margin: 1em 0 1.5em 0; */
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}

.inner-wrapper {
    width: 90%;
    margin: 0 auto;
}
.inner-wrapper h2 {
    text-align: center;
    padding: 20px;
    font-size: 50px;
    color: #ffffff;
}
.copyright p {
    color: #ffffff;
    text-align: center;
    font-size: medium;
    padding-top: 3rem;
}
header {
    background-image: linear-gradient(rgba(8, 8, 8, 0.2), rgb(0, 0, 0)), url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 4em 0;
}
footer {
    background-color: #000000;
    padding: 2em 0;
}

.socials li {
    text-align: center;
    padding: 3px;
    font-size: medium;
    color: #ffffff;
}
.hero {
    text-align: center;
    background-image: linear-gradient(rgba(8, 8, 8, 0.2), rgb(0, 0, 0)), url(../images/heroimg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 50vh;
    padding: 2em;
    margin: 1em 0;
    /* vertically align */
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    margin-bottom: 2em;
}

.video-text-image-row {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    width: 50%, 50%;
}

.videohero iframe {
    width: 500px;
    height: 350px;
    border: 0px;
    padding-right: 1rem;
}
.column-aboutpic img {
    width: 500px;
    height: 350px;
    border: 0px;
}

.text-image-row {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.artworkpicsrow {
    display: flex;
    justify-content: center;
}

.artwork h2 {
    color: #000000;
    padding-top: 4rem;
    text-align: center;
}
.artwork p {
    text-align: center;
}

.column img {
    width: 100%;
}
.column-legnum img {
    width: 500px;
    height: 350px;
    border: 0px;
}

.column p{
    padding: 40px;
    text-align: center;
}

.main-content2 h2 {
    color: #000000;
    font-size: 25px;
    padding-top: 4rem;
}

.image-image-image-row {
    display: flex;
    justify-content: center;
}

.column2 img {
    width: 100%;
    height: 80%;
}

.expressionsession h2 {
    color: #000000;
    padding-top: 4rem;
    text-align: center;
}

.expressionsession p {
    text-align: center;
}

.expressionsessionrow {
    display: flex;
    justify-content: center;
}
.column3 img {
    width: 100%;
    height: 80%;
}
.legnum-text h2 {
    color: #000000;
    padding-top: 4rem;
}
.legnum-text p {
    text-align: center;
}
.contact-shop-row {
    display: flex;
    justify-content: center;
    width: 50%, 50%;
}
.column5 h3 {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 1rem;
}
.column5 li {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.column5 button {
    background-color: #ffffff; 
    border: 1px solid rgb(0, 0, 0); 
    color: rgb(0, 0, 0); 
    padding: 10px 24px; 
    cursor: pointer; 
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.column5 button:hover {
    background-color: #000000;
    color: white;
}
.column5 img {
    width: 100%;
    height: 75%; 
}
.column5 p {
    text-align: center;
    text-decoration: underline;
}
/*-------Media responsive-------*/
@media(max-width: 768px) {
    .video-text-image-row {
        flex-direction: column;
    }
    .videohero iframe {
        width: 100%;
    }
    .text-image-row {
        flex-direction: column;
    }
    .artworkpicsrow {
        flex-direction: column;
    }
    .column-aboutpic img {
        width: 100%;
    }
    .column-legnum img {
        width: 100%;
    }
    .expressionsessionrow {
        flex-direction: column;
    }
    .image-image-image-row {
        flex-direction: column;
    }
    .contact-shop-row {
        flex-direction: column;
    }
}